*.js
!jest.config.js
*.d.ts
node_modules
.DS_Store

# CDK Context & Staging files
cdk.context.json
.cdk.staging/
cdk.out/
*.tabl.json
cdk-integ.out.*/

# Bun
bun.lockb

# Build output
dist/

# IDE
.idea/
.vscode/
*.swp
*.swo

